body{
    background-color: beige;
    font-size: 20px;
}
table{
    margin-top: 10%;
    margin-left: 50%;
    border-radius: 2px;
    background-color: white;
}
table,td {
    border: 1px solid black;
    border-collapse: collapse;
}
.container{
    margin-top: 5px;
    margin-left: 50%;
}